.total_page {
  padding: 15px 25px 25px 25px;
  @media (max-width: 650px) {
    padding: 10px;
  }
}

.table_filter_block {
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(200px, 470px) 1fr;
  gap: 10px;
}

.second_table_filter_block,
.first_table_filter_block {
  display: flex;
  gap: 10px;
}

.second_table_filter_block,
.first_table_filter_block {
  display: flex;
  gap: 10px;
}

.currency_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 230px;
}

.website_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 230px;
}

.markt_tool_id_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.period_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generate_report_btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.generate_report_btn {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  overflow: hidden;
  position: relative;
  &::before {
    transition: all 0.2s;
    content: "";
    position: absolute;
    width: 30px;
    height: 60px;
    bottom: -20px;
    visibility: hidden;
    filter: blur(50px);
    opacity: 0;
    background-color: #ffb800;
  }
  &:hover {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.table_filter_block_title {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

////datepicker
.period_datepicker_wrap {
  display: flex;
  align-items: end;
}

.second_custom_datepicker {
  border-radius: 0 8px 8px 0 !important;
  border-right: none !important;
}

.custom_datepicker {
  cursor: pointer;
  height: 40px;
  outline: none;
  background: #212121;
  border: none;
  border-right: 1px solid #2e2e2e;
  text-align: center;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 165px;
  padding: 11px 0;
  transition: all 0.3s;
  border-radius: 8px 0 0 8px;
}

.pick_year_block {
  height: 30px;
  width: 90px;
  overflow: hidden;
  background: url("../../../public/media/common/nextArrow.png") no-repeat center;
  select {
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.pick_month_block {
  height: 30px;
  width: 70px;
  overflow: hidden;
  background: url("../../../public/media/common/nextArrow.png") no-repeat right;
  select {
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.datepicker_month_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #202020;
  align-items: center;
  border: none;
  &:first-child {
    margin-right: 25px;
  }
  &:last-child {
    margin-left: 25px;
  }
}

.datepicker_header {
  justify-content: space-between !important;
  display: flex;
  align-items: center;
}

///
.desk_hidden_report_btn_wrap,
.desk_hidden_markt_tool_id_input,
.desk_hidden_filter_block_items {
  display: none;
}

.desk_hidden_report_btn_wrap {
  align-items: end;
}

.desk_hidden_filter_block_items {
  grid-template-columns: minmax(120px, 300px) 200px;
  gap: 10px;
}

.mob_filter_btn {
  display: none;
  align-items: center;
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  img {
    margin-right: 8px;
  }
}

.choose_table_opts_wrap {
  margin-top: 20px;
  max-width: 230px;
}

.swiper {
  width: 100%;
}

.swiper_slide {
  &:first-child {
    .swiper_slide_body {
      border-radius: 8px 0 0 8px;
    }
    .swiper_slide_header {
      border-radius: 8px 0 0 0;
    }
  }
  &:last-child {
    .swiper_slide_body {
      border-radius: 0 8px 8px 0;
    }
    .swiper_slide_header {
      border-radius: 0 8px 0 0;
    }
  }
  // flex-shrink: 1 !important;
  // width: 100% !important;
  // &[data-id="currency"] {
  //   max-width: 126px !important;
  // }
  // &[data-id="commissionStructure"] {
  //   max-width: 230px !important;
  // }
  // &[data-id="commssGroupName"] {
  //   max-width: 320px !important;
  // }
  // &[data-id="startDate"] {
  //   max-width: 170px !important;
  // }
  // &[data-id="description"] {
  //   //   max-width: 100% !important;
  // }
  // &[data-id="endDate"] {
  //   max-width: 170px !important;
  // }
  width: max-content !important;
  min-width: max-content;
  min-width: 200px;
  @media (max-width: 1200px) {
    min-width: 200px;
  }
  flex: 1 0 auto;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
}

.swiper_slide {
  @media (max-width: 1280px) {
    width: 100% !important;
    max-width: 200px;
  }
  &:first-child {
    .swiper_slide_body {
      border-radius: 8px 0 0 8px;
    }
    .swiper_slide_header {
      border-radius: 8px 0 0 0;
    }
  }
  &:last-child {
    .swiper_slide_body {
      border-radius: 0 8px 8px 0;
    }
    .swiper_slide_header {
      border-radius: 0 8px 0 0;
    }
  }
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  img {
    cursor: pointer;
  }
  @media screen and (max-width: 2250px) {
    height: 60px;
  }
  @media screen and (max-width: 650px) {
    padding: 6px 8px;
    height: 50px;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.swiper_slide_content {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.table_wrap {
  margin-top: 20px;
  display: grid;
}

.table_pages_wrap {
  display: flex;
  gap: 10px;
}

.table_records_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.table_nav_block {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_pages_block {
  display: flex;
  gap: 2px;
  align-items: center;
}

.table_next_page_btn,
.table_prev_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #202020;
  cursor: pointer;
}

.table_current_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #2e2e2e;
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}

@media screen and (max-width: 1400px) {
  .table_filter_block {
    grid-template-columns: 1fr;
  }
  .markt_tool_id_block {
    max-width: 480px;
  }
}

@media screen and (max-width: 1280px) {
  .swiper_slide {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-width: 760px) {
  .first_table_filter_block,
  .second_table_filter_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .currency_block {
    max-width: 100%;
  }
  .website_block {
    max-width: 100%;
  }
  .markt_tool_id_block,
  .generate_report_btn_wrap {
    display: none;
  }
  .desk_hidden_markt_tool_id_input {
    display: block;
    max-width: 300px;
  }
  .desk_hidden_report_btn_wrap {
    display: flex;
  }
  .desk_hidden_filter_block_items {
    display: grid;
  }
}

@media screen and (max-width: 650px) {
  .table_filter_block,
  .table_records_text {
    display: none;
  }
  .mob_filter_btn {
    display: flex;
  }
}

//! adaptive
.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  overflow: auto;
}

.scroll_disable {
  overflow: hidden !important;
}

.websites_filter_wrap {
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}

.mobile_filter_block.filter_active {
  visibility: visible;
  opacity: 1;
}

///
@media screen and (max-width: 1280px) {
  .adding_website_block {
    display: grid;
    grid-template-columns: 1fr 230px 230px;
  }
  .websites_item_block {
    max-width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .adding_website_block {
    grid-template-columns: 1fr 200px 200px;
  }
}

@media screen and (max-width: 700px) {
  .adding_website_block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .breadcrumbs_block,
  .websites_filter_wrap {
    padding: 0;
  }
  .games_table_container,
  .choose_table_cols,
  .table_records_text {
    display: none;
  }
  .websites_filter_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .websites_hiddenAdded_block_item {
    font-size: 14px;
    width: fit-content;
    padding: 10px 15px;
  }
  .websites_filter_wrap {
    display: flex;
  }
  .websites_page {
    padding: 10px;
  }
  .table_navigation_block {
    margin: 14px 0 0 0;
  }
}

.websites_filter_btn {
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
