.currency_block {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 15px;
}

.currency_block_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.search_currency_btn {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.choose_currency_block {
  display: flex;
}

.choose_currency_wrap {
  width: 100%;
  max-width: 230px;
  margin-right: 10px;
  @media screen and (max-width: 1280px) {
    max-width: 200px;
  }
}

.currency_charts_wrap_closed {
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr;
  }
}
.currency_charts_wrap_opened {
  grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  @media (min-width: 1200px) {
    width: calc(100vw - 310px);
  }
  @media (min-width: 1600px) {
    width: calc(100vw - 324px);
  }
  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr;
  }
}

.currency_charts_wrap {
  @media (min-width: 1200px) {
  }
  display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr;
  }
}

.follows_chart_wrap,
.registration_chart_wrap {
  border-radius: 12px;
  border: 1px solid #2d2d2d;
  background: var(--gray-218, #181818);
  padding: 28px 30px;
  @media (max-width: 1200px) {
    padding: 16px;
    padding-bottom: 0;
  }
  @media (max-width: 650px) {
    border-radius: 0;
    padding-bottom: 38px;
    padding-left: 5px;
    padding-top: 7px;
  }
}
.registration_chart_wrap {
  position: relative;
}
.follows_chart_wrap {
  position: relative;
}

.time_range_block {
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  border: 1px solid #212121;
  @media (min-width: 1200px) {
    top: 20px;
    right: 30px;
  }
  @media (min-width: 650px) {
    top: 16px;
    right: 16px;
  }
  @media (max-width: 650px) {
    bottom: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    border-radius: 0;
    border: none;
    border-top: 1px solid #212121;
    padding: 8px 12px;
  }
}

.time_range_block_item {
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  padding: 5px 12px;
  border-radius: 8px;
  background: #181818;
  @media screen and (max-width: 1280px) {
    padding: 3px 11px;
    min-width: 47px;
  }
  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.time_range_block_title {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  @media screen and (max-width: 1280px) {
    font-size: 10px;
  }
}

.black_background {
  background: #212121;
  background: var(--switch-in-game-2-e, #2e2e2e);
}
