.close_filter_block_btn {
  display: flex;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  img {
    margin-right: 10px;
  }
}

.mobile_filter_block_header {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//?----------- adaptive

///mobile adaptation
.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.websites_filter_wrap {
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}
.mobile_filter_block.filter_active {
  visibility: visible;
  opacity: 1;
}

///
@media screen and (max-width: 1280px) {
  .adding_website_block {
    display: grid;
    grid-template-columns: 1fr 230px 230px;
  }
  .websites_item_block {
    max-width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .adding_website_block {
    grid-template-columns: 1fr 200px 200px;
  }
}

@media screen and (max-width: 700px) {
  .adding_website_block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .breadcrumbs_block,
  .websites_filter_wrap {
    padding: 0;
  }
  .games_table_container,
  .choose_table_cols,
  .table_records_text {
    display: none;
  }
  .websites_filter_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .websites_hiddenAdded_block_item {
    font-size: 14px;
    width: fit-content;
    padding: 10px 15px;
  }
  .websites_filter_wrap {
    display: flex;
  }
  .websites_page {
    padding: 10px;
  }
  .table_navigation_block {
    margin: 14px 0 0 0;
  }
}

.websites_filter_btn {
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
