.welcome_faq_section {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0 auto;
  min-height: 400px;
  position: relative;

  @media screen and (max-width: 700px) {
    max-width: 550px;
    margin: 80px auto 0 auto;
  }

  @media screen and (max-width: 650px) {
    margin: 70px auto 0 auto;
  }
}

.welcome_faq_eclipse {
  position: absolute;
  width: 1114.658px;
  height: 1063.854px;
  transform: rotate(-17.247deg);
  border-radius: 1114.658px;
  background: rgba(255, 187, 95, 0.1);
  filter: blur(250px);
  top: -457px;
  left: -765px;
  @media (max-width: 1600px) {
    width: 456px;
    height: 444px;
    border-radius: 456px;
    background: rgba(255, 187, 95, 0.4);
    filter: blur(250px);
    top: -27px;
    left: -264px;
  }
  @media (max-width: 1280px) {
    width: 487px;
    height: 475px;
    border-radius: 487px;
    background: rgba(255, 187, 95, 0.4);
    filter: blur(250px);
    top: 66px;
    left: -530px;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.faq_title {
  color: #ffe09d;
  font-family: var(--font-nunito-sans);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 46.8px;
  letter-spacing: 1.44px;
  display: block;
  margin-bottom: 30px;

  @media screen and (max-width: 700px) {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 36.4px;
  }
}

.welcome_faq_img_wrap {
  margin-top: 20px;

  .welcome_faq_img {
    width: 435px;
    height: 423px;
  }

  @media screen and (max-width: 1280px) {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;

    .welcome_faq_img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    position: absolute;
    width: 130px;
    height: 130px;
    z-index: -1;
    top: 50%;
    right: -50px;
  }

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.welcome_faq_body {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 1280px) {
    padding: 20px 16px;
  }

  @media screen and (max-width: 700px) {
    position: relative;
  }
}

.switcher_block {
  width: fit-content;
  display: flex;
  background: #181818;
  border-radius: 12px;
  margin-bottom: 20px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.switcher_block_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 12px;
  background: inherit;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.active {
  background: #2e2e2e;
  color: #eaeaea;
}

.accordeon_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.accordeon {
  background: #181818;
  border-radius: 12px;
  padding: 16px;
}

.accordeon_wrap {
  @media screen and (max-width: 1280px) {
    min-width: 500px;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    min-width: 100px;
    width: 100%;
  }
}

.accordeon_header {
  gap: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordeon_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;

  @media screen and (max-width: 650px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.accordeon_body {
  transition: all 0.4s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  max-height: 0;
}

.accordeon_active {
  height: auto;
  max-height: 9999px;
  transition: all 0.4s cubic-bezier(1, 0, 1, 0);
}

.accordeon_text {
  padding-top: 10px;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.faq_block {
  @media screen and (max-width: 700px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
