.welcome_page_signup_content {
  padding: 30px;
  width: 1100px;
  border-radius: 12px;
  border: 1px solid #252525;
  background: #121212;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.welcome_page_signup_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.welcome_page_signup_leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome_page_input {
  padding: 8px 14px;
  width: 100%;
  transition: all 0.5s;
  &::placeholder {
    transition: all 0.5s;
  }
}

.error_input {
  // border: 1px solid red !important;
  box-shadow: 0 0 1px 1px red;
  &::placeholder {
    color: red;
  }
}

.welcome_page_input_title {
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 7px;
}

.welcome_page_input_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome_page_paslog_block,
.welcome_page_additionalInfo_block,
.welcome_page_contactInfo_block,
.welcome_page_paymentData_block {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.welcome_page_additionalInfo_block {
  // margin-top: 14px;
}

.welcome_page_paslog_block_title,
.welcome_page_additionalInfo_block_title,
.welcome_page_contactInfo_block_title,
.welcome_page_paymentData_block_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.welcome_page_additionalInfo_inputs_block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 14px;
}

.welcome_page_contactInfo_persInfo_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.welcome_page_contactInfo_otherInfo_block,
.welcome_page_paymentData_block_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 14px;
}

.welcome_page_paymentData_block {
  margin-top: 14px;
}

.form_info {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.form_info_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.privacyPolicy_text {
  user-select: none;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-left: 12px;
  position: relative;
  cursor: pointer;
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #252525;
  top: 2px;
  position: absolute;
  left: -40px;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacyPolicy_container {
  margin-top: 20px;
}

.btns_container {
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.register_submit_btn {
  padding: 13px 41px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.desk_hidden_nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.desk_hidden_current_block_title {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.desk_hidden_nav_title {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1130px) {
  .welcome_page_signup_content {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .welcome_page_signup_form {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  .desk_hidden_nav {
    display: flex;
  }
  .welcome_page_input_title,
  .privacyPolicy_text,
  .form_info_text {
    font-size: 14px;
  }
  .privacyPolicy_text {
    margin-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox {
    position: static;
    min-width: 12px;
    min-height: 12px;
    width: 12px;
    height: 12px;
  }
  .welcome_page_additionalInfo_block_title,
  .welcome_page_paslog_block_title,
  .welcome_page_contactInfo_block_title,
  .welcome_page_paymentData_block_title {
    font-size: 16px;
  }
  .welcome_page_additionalInfo_inputs_block,
  .welcome_page_contactInfo_otherInfo_block,
  .welcome_page_contactInfo_persInfo_block {
    grid-template-columns: 1fr;
  }
  .register_submit_btn {
    font-size: 16px;
    height: 40px;
  }
  .welcome_page_signup_content {
    background: #0f0f0f;
    border-radius: 0;
  }
}
