.welcome_page_initial_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome_page_initial_title {
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.welcome_page_initial_subTitle {
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.28px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.welcome_page_initial_steps_list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 20px;
  counter-reset: step;
  margin-bottom: 20px;
}

.welcome_page_initial_steps_list_item {
  border-radius: 12px;
  border: 1px solid #2d2d2d;
  background: linear-gradient(144deg, #262219 -52.3%, #121211 99.93%);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &::after {
    content: counter(step, decimal-leading-zero);
    counter-increment: step;
    position: absolute;
    color: rgba(255, 255, 255, 0.02);
    font-family: var(--font-nunito-sans);
    font-size: 250px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    left: -70px;
  }
}

.welcome_page_initial_steps_list_item_title {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.88px;
}

.welcome_page_initial_registr_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 34px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 50px;
}
