.sub_partners_section {
  padding: 15px 25px 25px 0;
}

.sub_partners_tablet {
  display: flex;
  align-items: end;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.sub_partners_tablet_item {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 1200px) {
    max-width: 294px;
  }
}

.sub_partners_tablet_item_grow {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input {
    width: 100%;
  }

  @media (max-width: 1200px) {
    width: 306px;
  }
}

.table_filter_block_item_title {
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  display: block;
  min-width: max-content;
}

.sub_partners_registration {
  display: flex;
  width: 280px;
  height: 40px;
  padding: 0px 14px;
  align-items: center;
  border-radius: 8px;
  background: var(--table-line-hover-21, #212121);
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.options_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media (max-width: 1200px) {
    margin-top: 29px;
  }
}

.options_wrapper {
  width: 230px;

  @media (max-width: 1200px) {
    width: 200px;
  }
}

.export_wrapper {
  width: 210px;

  @media (max-width: 1200px) {
    width: 200px;
  }
}

.table_wrap {
  display: grid;
  margin-top: 6px;
}

.swiper {
  width: 100%;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  flex: 1 1 auto;
  img {
    cursor: pointer;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.swiper_slide {
  max-width: 206px;
  &:first-child {
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
  }
  &:last-child {
    border-radius: 0 12px 12px 0;
    overflow: hidden;
  }
}

.table_navigation_block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_pages_block {
  display: flex;
  gap: 2px;
  align-items: center;
}

.table_next_page_btn,
.table_prev_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #202020;
  cursor: pointer;
}

.table_current_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #2e2e2e;
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}
.table_records_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
.choose_table_rows_block {
  margin-left: 10px;
}

.table_pages_wrap {
  display: flex;
}
