.data_settings_container {
  display: flex;
  gap: 1px;
  width: 306px;
}

.data_setting_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  // width: 50%;
  justify-content: space-between;
}

.custom_datepicker_second {
  .react-datepicker-popper {
    display: none !important;
  }
}

.custom_datepicker {
  cursor: pointer;
  outline: none;
  background: #212121;
  border: none;
  border-right: 1px solid #2e2e2e;
  text-align: center;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  height: 42px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  padding: 11px 0;
  transition: all 0.3s;
  border-radius: 8px;
  // flex: 1 1 50%;
}

.custom_datepicker_first {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.custom_datepicker_second {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.datepicker_header {
  justify-content: space-between !important;
  display: flex;
  align-items: center;
  margin: 10px;
}

.datepicker_month_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: #202020;
  align-items: center;
  border: none;
  &:first-child {
    margin-right: 25px;
  }
  &:last-child {
    margin-left: 25px;
  }
}

.pick_year_block {
  height: 30px;
  width: 90px;
  overflow: hidden;
  background: url("../../public/media/common/nextArrow.png") no-repeat center;
  select {
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.pick_month_block {
  height: 30px;
  width: 70px;
  overflow: hidden;
  background: url("../../public/media/common/nextArrow.png") no-repeat right;
  select {
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.data_setting_title {
  color: var(--gray-57-e, #7e7e7e);
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
