.gamers_section {
  padding: 15px 25px 25px 0;
  @media (max-width: 650px) {
    padding: 10px;
  }
}

.games_table_container {
  display: flex;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: end;
}

.games_table_container_bottom {
  margin-top: 20px;
  align-items: end;
}

.games_table_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 230px;
  @media (min-width: 1280px) {
    // flex: 1 1 auto;
  }
  input {
    width: 100%;
  }
}

.games_table_item_grow {
  width: 324px;
}

.games_table_title {
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  display: block;
  min-width: max-content;
}

.games_table_input {
  display: flex;
  width: 280px;
  height: 40px;
  padding: 0px 14px;
  align-items: center;
  border-radius: 8px;
  background: var(--table-line-hover-21, #212121);
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.options_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.games_label_item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  color: var(--white-1-ea, #eaeaea);
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.56px;
}

.checkbox {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background-color: #282828;
  transition: all 0.4s;
  cursor: pointer;
  svg {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.checked {
  background: #d18b34;
  filter: drop-shadow(0px 0px 4px #d18b34);
  svg {
    path {
      fill: white;
    }
  }
}

.game_label_container {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  @media (max-width: 650px) {
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
  }
}

.export_wrapper {
  width: 210px;
  @media (max-width: 1280px) {
    width: 200px;
  }
}
.options_wrapper {
  width: 230px;
  @media (max-width: 1280px) {
    width: 200px;
  }
}

.swiper {
  width: 100%;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  flex: 1 1 auto;
  img {
    cursor: pointer;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.swiper_slide {
  max-width: 206px;
  &:first-child {
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
  }
  &:last-child {
    border-radius: 0 12px 12px 0;
    overflow: hidden;
  }
  @media (max-width: 1600px) {
    &[data-id="id_page"] {
      max-width: 116px;
    }
    &[data-id="country"] {
      max-width: 140px;
    }
    &[data-id="id_players"] {
      max-width: 150px;
    }
    &[data-id="deposti_summ"] {
      max-width: 191px;
    }
    &[data-id="data_registration"] {
      max-width: 153px;
    }
    &[data-id="data_registration"] {
      max-width: 153px;
    }
    &[data-id="page"] {
      max-width: 185px;
    }
    &[data-id="subid"] {
      max-width: 114px;
    }
  }
}

.table_navigation_block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 650px) {
    margin: 14px 4px 0 0;
  }
}

.table_pages_block {
  display: flex;
  gap: 2px;
  align-items: center;
}

.table_next_page_btn,
.table_prev_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #202020;
  cursor: pointer;
}

.table_current_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #2e2e2e;
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}
.table_records_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
.choose_table_rows_block {
  margin-left: 10px;
}

.table_pages_wrap {
  display: flex;
}

.slider_wrap {
  margin-top: 20px;
  display: grid;
}

.games_table_item {
  &:nth-child(1) {
    order: 1;
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 1;
    }
  }
  &:nth-child(2) {
    order: 2;
    @media (max-width: 1280px) {
      order: 8;
      flex: 1 1 40%;
    }
  }
  &:nth-child(3) {
    order: 3;
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 5;
    }
  }
  &:nth-child(4) {
    order: 4;
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 2;
    }
  }
  &:nth-child(5) {
    order: 5;

    @media (max-width: 1600px) {
      order: 8;
    }
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 3;
    }
  }
  &:nth-child(7) {
    order: 7;

    @media (max-width: 1600px) {
      order: 5;
    }
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 6;
    }
  }
  &:nth-child(8) {
    order: 8;

    @media (max-width: 1600px) {
      order: 7;
    }
    @media (max-width: 1280px) {
      flex: 1 1 40%;
      order: 5;
    }
  }
  &:nth-child(9) {
    order: 9;

    @media (max-width: 1600px) {
      order: 6;
    }
    @media (max-width: 1280px) {
      order: 9;
      width: 230px;
    }
  }
}

.data_settings {
  order: 6;

  @media (max-width: 1600px) {
    order: 9;
  }
  @media (max-width: 1280px) {
    flex: 1 1 40%;
    order: 4;
    width: 40%;
  }
}

.generate_button {
  order: 10;
}
.open_btn {
  margin-top: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputWrapper_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 14px;
  margin-top: 12px;
}

.export_back_btn {
  border-radius: 5px;
  border: 1px solid var(--outline-3-e, #3e3e3e);
  background: var(--gray-3125, #252525);
  padding: 11px 30px 10px 32px;
  color: var(--white-1-ea, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.export_btn_container {
  margin-top: auto;
  display: flex;
  padding: 14px;
  justify-content: space-between;
  align-items: center;
}

.mobile_filter_block.export_active {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

//?----------- adaptive

///mobile adaptation
.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.websites_filter_wrap {
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}
.mobile_filter_block.filter_active {
  visibility: visible;
  opacity: 1;
}

///
@media screen and (max-width: 1280px) {
  .adding_website_block {
    display: grid;
    grid-template-columns: 1fr 230px 230px;
  }
  .websites_item_block {
    max-width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .adding_website_block {
    grid-template-columns: 1fr 200px 200px;
  }
}

@media screen and (max-width: 700px) {
  .adding_website_block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .breadcrumbs_block,
  .websites_filter_wrap {
    padding: 0;
  }
  .games_table_container,
  .choose_table_cols,
  .table_records_text {
    display: none;
  }
  .websites_filter_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .websites_hiddenAdded_block_item {
    font-size: 14px;
    width: fit-content;
    padding: 10px 15px;
  }
  .websites_filter_wrap {
    display: flex;
  }
  .websites_page {
    padding: 10px;
  }
  .table_navigation_block {
    margin: 14px 0 0 0;
  }
}

.websites_filter_btn {
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
