.sidebar_block {
    grid-row: 2/3;
    grid-column: 1;
    background: #181818;
    transition: all 0.4s;
    z-index: 11;
    height: 101.4%;
}

.sidebar_body {
    height: 100%;
    background: #181818;
    width: 260px;
    transition: all 0.4s;
}

.sidebar_page_item {
    display: flex;
    flex-direction: column;
    &:last-child {
        height: 500px;
    }
}

.sidebar_page_item_title_block {
    padding: 11px 14px;
    background: #121212;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar_page_item_title {
    opacity: 1;
    visibility: visible;
    color: #eaeaea;
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar_page_item_link_block {
    display: flex;
    flex-direction: column;
}

.sidebar_page_item_link_wrap_content {
    height: 50px;
    padding: 11px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        margin-right: 15px;
    }
}

.sidebar_page_item_link_wrap {
    img {
        display: none;
    }
}

.active_sub_block {
    background: linear-gradient( 90deg, rgba(255, 153, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%), #181818;
    border-left: 1px solid #e4c480;
    svg {
        path {
            fill: #ffe09d;
        }
    }
}

.sidebar_page_item_link {
    transition: all 0.4s;
    color: #eaeaea;
    width: 100%;
    opacity: 1;
    visibility: visible;
    text-align: start;
    font-family: var(--font-nunito-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.sidebar_page_item_ico_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_close_btn_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        transition: all 0.4s;
    }
}

.desk_hidden_profile_block {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #202020;
    padding: 11px 17px;
}

.desk_hidden_profile_block_title {
    color: #eaeaea;
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active_language_body {
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 8px;
    background-color: #181818;
    user-select: none;
    border-left: 2px solid #181818;
    border-top: 2px solid #181818;
    border-right: 2px solid #181818;
    box-sizing: border-box;
    transition: all 0.3s;
}

.languages_list_active {
    border-left: 2px solid #2e2e2e;
    border-top: 2px solid #2e2e2e;
    border-right: 2px solid #2e2e2e;
    transition: all 0.3s;
    border-radius: 8px 8px 0 0;
}

.header_dd_ico_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.languages_list_active>.active_language_title {
    color: #eaeaea;
}

.languages_list_active>.header_dd_ico_wrap {
    transform: rotate(180deg);
    svg>path {
        fill: #eaeaea;
    }
}

.avaible_languages_list {
    height: 0%;
    width: 100px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background: #181818;
    border-radius: 0 0 8px 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    gap: 10px;
    border-left: 2px solid #181818;
    border-bottom: 2px solid #181818;
    border-right: 2px solid #181818;
    position: absolute;
}

.avaible_languages_list_visible {
    height: auto;
    z-index: 2;
    visibility: visible;
    background: #181818;
    opacity: 1;
    border-left: 2px solid #2e2e2e;
    border-bottom: 2px solid #2e2e2e;
    border-right: 2px solid #2e2e2e;
    .avaible_languages_list_item {
        height: auto;
    }
}

.avaible_language_title {
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
}

.avaible_languages_list_item {
    height: 0;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    background: #181818;
}

.desk_hidden_lang_choose_block {
    height: 50px;
    max-width: 100px;
    margin: 10px 14px;
}

.active_language_title {
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (min-width: 650px) {
    .sidebar_block.main_sidebar_closed {
        width: 50px;
        .sidebar_page_item_link,
        .sidebar_page_item_title {
            opacity: 0;
            visibility: hidden;
        }
        .sidebar_page_item_title {
            display: none;
        }
        .sidebar_close_btn_wrap {
            img {
                transform: rotate(180deg);
            }
        }
        .sidebar_body {
            width: 50px;
            transition: all 0.4s;
        }
        .sidebar_block {
            transition: all 0.4s;
        }
    }
}

@media screen and (max-width: 650px) {
    .desk_hidden_profile_block {
        display: flex;
    }
    .sidebar_block {
        height: calc(100% - 56px);
        position: absolute;
        top: 56px;
        width: 100%;
        left: 0;
        background: #0f0f0f;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .sidebar_page_item {
        &:last-child {
            height: auto;
        }
    }
    .sidebar_body {
        height: auto;
        width: 100%;
        background: #181818;
    }
    .sidebar_page_item_title_block {
        display: none;
    }
    .sidebar_page_item_link {
        font-size: 14px;
        color: #7e7e7e;
    }
    .sidebar_page_item_link_wrap {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        img {
            display: block;
            margin-right: 20px;
        }
    }
    .sidebar_block.main_sidebar_closed {
        left: -120%;
    }
}