.generate_report_btn {
  width: 200px;
  padding: 9px 0;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.64px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &::before {
    transition: all 0.2s;
    content: "";
    position: absolute;
    width: 30px;
    height: 60px;
    bottom: -20px;
    visibility: hidden;
    filter: blur(50px);
    opacity: 0;
    background-color: #ffb800;
  }
  &:hover {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
