.welcome_benefits_section {
  min-height: 900px;
  margin-top: 40px;
  position: relative;
  @media screen and (max-width: 700px) {
    margin-top: 80px;
    min-height: 300px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 70px;
  }
}

.welcome_benefits_body {
  padding: 0 16px;
}

.welcome_benefits_eclipse {
  position: absolute;
  width: 429px;
  height: 763px;
  border-radius: 763px;
  background: rgba(255, 125, 5, 0.3);
  filter: blur(305.5px);
  top: 471px;
  left: -700px;
  @media (max-width: 1920px) {
    left: -600px;
  }
  @media (max-width: 1600px) {
    width: 429px;
    height: 325px;
    top: auto;
    bottom: -154px;
    left: -214px;
  }
  @media (max-width: 1280px) {
    width: 429px;
    height: 325px;
    border-radius: 429px;
    background: rgba(255, 125, 5, 0.5);
    filter: blur(305.5px);
    left: -145px;
    bottom: 40px;
  }
  @media (max-width: 650px) {
    width: 117px;
    height: 114px;
    left: auto;
    // fill: #d14f05;
    background: #d14f05;
    filter: blur(130px);
    bottom: auto;
    top: -2px;
    right: -55px;
  }
}
.welcome_benefits_eclipse_2 {
  position: absolute;
  width: 392px;
  height: 424px;
  border-radius: 424px;
  background: rgba(255, 187, 95, 0.4);
  filter: blur(250px);
  top: 343px;
  right: -655px;
  z-index: 2;
  @media (max-width: 1920px) {
    right: -400px;
  }
  @media (max-width: 1280px) {
    display: none;
  }
  @media (max-width: 650px) {
    right: auto;
    display: block;
    width: 148px;
    height: 112px;
    fill: rgba(255, 190, 115, 0.5);
    filter: blur(100px);
    top: 337px;
    left: -65px;
  }
}

.welcome_benefits_title {
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 1.6px;
  margin-bottom: 20px;

  @media screen and (max-width: 700px) {
    font-size: 26px;
    line-height: 33.8px;
  }

  @media screen and (max-width: 650px) {
    font-size: 22px;
    line-height: 28.6px;
    margin-bottom: 16px;
  }
}

.benefits_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 7vw;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 1030px;
    column-gap: 7.7vw;
    row-gap: 30px;
  }

  @media screen and (max-width: 700px) {
    max-width: 650px;
    column-gap: 14px;
    row-gap: 16px;
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 14px;
    column-gap: 42px;
  }
}

.benefits_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits_list_item_title {
  margin-bottom: 8px;
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.4px;
  letter-spacing: 0.52px;

  @media screen and (max-width: 700px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media screen and (max-width: 650px) {
    font-size: 16px;
    line-height: 22.4px;
  }
}

.benefits_list_item_text {
  color: #7e7e7e;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.36px;

  @media screen and (max-width: 700px) {
    font-size: 14px;
    line-height: 19.6px;
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    line-height: 16.8px;
  }
}

.benefits_list_item_img {
  @media screen and (max-width: 700px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 650px) {
    width: 110px;
    height: 110px;
  }
}
