.dashboard_container {
  height: 100%;
}

.dashboard_body {
  height: 100%;
  padding: 15px 25px 25px 25px;
  @media (max-width: 650px) {
    padding: 0;
    padding-top: 11px;
  }
}

.dashboard_title {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
  display: block;
  @media (max-width: 650px) {
    color: var(--white-1-ea, #eaeaea);
    text-align: right;
    font-family: var(--font-nunito-sans);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-left: auto;
    margin-right: 14px;
  }
}

.dashboard_header {
  height: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    height: auto;
  }
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.sidebar_closed {
  grid-template-columns: 39% 1fr;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.currency_charts_wrap {
  margin-top: 25px;
  @media (max-width: 1200px) {
    margin-top: 20px;
  }
}

.fast_stats_wrap {
  margin-top: 25px;
  @media (max-width: 1200px) {
    margin-top: 20px;
  }
}

.choose_currency_block {
  display: flex;
  align-items: end;
  padding: 0 8px;
}

.choose_currency_wrap {
  margin-right: 10px;
  @media (min-width: 1600px) {
    max-width: 230px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 200px;
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    flex: 1 1 40%;
    margin-right: 8px;
  }
}
.search_currency_btn {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  @media screen and (max-width: 650px) {
    // max-width: auto;
    flex: 1 1 40%;
  }
}
.currency_block_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 6px;
  display: block;
}
