.page_container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
  transition: all 0.4s;
  column-gap: 25px;
}

.sidebar_closed {
  grid-template-columns: 50px 1fr;
}
