.page_container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 80px 1fr;
  transition: all 0.4s;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.side_bar_wrapper {
  grid-row: 2/3;
  grid-column: 1;
  transition: all 0.4s;
  z-index: 13;
  height: 101.4%;
  position: fixed;
  top: 80px;

  @media screen and (max-width: 700px) {
    top: 56px;
  }

  @media screen and (max-width: 650px) {
    height: calc(100% - 56px);
    position: absolute;
    top: 56px;
    width: 100%;
    left: -120%;
    background: #0f0f0f;
    overflow-x: scroll;
    transition: all 0.3s;
    padding-bottom: 20px;
  }
}

.sideBar_opened {
  @media screen and (max-width: 650px) {
    left: 0;
  }
}

.mob_account_opened {
  overflow: hidden;
  .sidebar_profile_block {
    left: 0;
  }
}

.main_section {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar_closed {
  grid-template-columns: 50px 1fr;
}

@media screen and (max-width: 996px) {
  .page_container {
    grid-template-columns: 50px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .page_container {
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr;
  }
}
