.fast_stats_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-bottom: 10px;
  display: block;
  @media screen and (max-width: 1280px) {
    margin-bottom: 8px;
  }
}

.fast_stats_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 1280px) {
    align-items: start;
  }
}

.fast_stats_choose_options_wrap {
  width: 100%;
  max-width: 230px;
  @media screen and (max-width: 1280px) {
    max-width: 200px;
    height: 40px;
  }
}

.time_range_block {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  border: 1px solid #212121;
}

.time_range_block_item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  padding: 5px 12px;
  border-radius: 8px;
  // background: #181818;
  transition: all 0.5s;
  &:hover {
    background: var(--gray-218, #181818);
  }
  @media (max-width: 1600px) {
    padding: 3px 11px;
    min-width: 47px;
  }
}

.time_range_block_title {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  @media screen and (max-width: 1280px) {
    font-size: 10px;
  }
}

.fast_stats_table_block {
  display: grid;
  margin-top: 10px;
}

.swiper {
  cursor: pointer;
}

.swiper_slide {
  // width: 270px !important;
  width: max-content !important;
  min-width: max-content;
  @media (max-width: 1200px) {
    min-width: 200px;
  }
  flex: 1 0 auto;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  img {
    cursor: pointer;
  }
  @media (max-width: 650px) {
    padding: 6px 14px;
  }
  @media screen and (max-width: 1280px) {
    min-height: 50px;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  span,
  a {
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #979797;
    color: #7e7e7e;
  }
}

.websites_filter_wrap {
  margin-left: 20px;
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}

.mobile {
  @media (max-width: 650px) {
    display: none;
  }
}

.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  overflow: auto;
}

.scroll_disable {
  overflow: hidden auto;
}

.mobile_filter_block.export_active {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.websites_filter_wrap {
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}

.mobile_filter_block.filter_active {
  visibility: visible;
  opacity: 1;
}

///
@media screen and (max-width: 1280px) {
  .adding_website_block {
    display: grid;
    grid-template-columns: 1fr 230px 230px;
  }
  .websites_item_block {
    max-width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .adding_website_block {
    grid-template-columns: 1fr 200px 200px;
  }
}

@media screen and (max-width: 700px) {
  .adding_website_block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .breadcrumbs_block,
  .websites_filter_wrap {
    padding: 0;
  }
  .games_table_container,
  .choose_table_cols,
  .table_records_text {
    display: none;
  }
  .websites_filter_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .websites_hiddenAdded_block_item {
    font-size: 14px;
    width: fit-content;
    padding: 10px 15px;
  }
  .websites_filter_wrap {
    display: flex;
  }
  .websites_page {
    padding: 10px;
  }
  .table_navigation_block {
    margin: 14px 0 0 0;
  }
}

.websites_filter_btn {
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
