.media_page_section {
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table_filter_block {
  gap: 10px;
  display: grid;
  grid-template-columns: minmax(150px, 230px) minmax(180px, 230px) minmax(
      150px,
      230px
    ) minmax(150px, 190px) minmax(150px, 230px);
}

.table_filter_block_item_title {
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.64px;
}

.table_filter_block_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.table_filter_btn_wrap {
  display: flex;
  align-items: end;
}

.search_table_btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-bottom: 1.5px;
}

.language_block {
  z-index: 5;
}

.currency_block {
  z-index: 10;
}

.choose_active_opts_wrap {
  max-width: 230px;
}

.table_wrap {
  display: grid;
}

.swiper {
  width: 100%;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
}

.swiper_slide {
  &:first-child {
    .swiper_slide_body {
      border-radius: 8px 0 0 8px;
    }
    .swiper_slide_header {
      border-radius: 8px 0 0 0;
    }
  }
  &:last-child {
    .swiper_slide_body {
      border-radius: 0 8px 8px 0;
    }
    .swiper_slide_header {
      border-radius: 0 8px 0 0;
    }
  }
}

.swiper_slide {
  width: 100%;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  img {
    cursor: pointer;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.swiper_slide {
  flex-shrink: 100 !important;
  width: 100%;
  max-width: 213px;
  &[data-id="id"] {
    max-width: 80px !important;
  }
  &[data-id="preview"] {
    max-width: 400px !important;
  }
}

.add_slide {
  max-width: 50px !important;
}

.add_table_row_btn {
  border: none;
  background: inherit;
  cursor: pointer;
}

.mob_filter_block {
  cursor: pointer;
  display: none;
  align-items: center;
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .table_filter_block {
    grid-template-columns: minmax(120px, 230px) minmax(140px, 230px) minmax(
        120px,
        230px
      ) minmax(140px, 230px);
  }
  .table_filter_btn_wrap {
    margin-top: 5px;
  }
  .swiper_slide.sidebar_closed {
    max-width: 165px;
  }
  .swiper_slide {
    max-width: 125px;
  }
}

@media screen and (max-width: 1170px) {
  .swiper_slide {
    flex-shrink: 0 !important;
    width: 100% !important;
    max-width: 170px;
    &[data-id="id"] {
      max-width: 80px !important;
    }
    &[data-id="preview"] {
      max-width: 200px !important;
    }
  }
  .swiper_slide.sidebar_closed {
    max-width: 170px;
  }
}

@media screen and (max-width: 700px) {
  .table_filter_block {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .table_filter_block,
  .choose_active_opts_wrap {
    display: none;
  }
  .media_page_section {
    padding: 15px 20px;
  }
  .mob_filter_block {
    display: flex;
  }
}
