.websites_page {
  padding: 10px 20px 20px 20px;
  flex: 1 1 auto;
}

.websites_block {
  width: 100%;
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.adding_website_block {
  display: flex;
  align-items: end;
  width: 100%;
  gap: 10px;
}

.adding_website_block_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 230px;
}

.websites_item_block {
  width: 100%;
  max-width: 400px;
}

.adding_website_block_item_title {
  margin-bottom: 12px;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.table_pages_wrap {
  display: flex;
}

.adding_website_input {
  width: 100%;
}

.add_website_btn {
  width: 100%;
  max-width: 200px;
  padding: 9px 20px;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  cursor: pointer;
  height: 40px;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.64px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffb800;
    filter: blur(40px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    bottom: -20px;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.scroll_disabled {
  overflow: hidden !important;
}

.website_downTable_filter_block {
  margin-top: 20px;
}

.websites_hiddenAdded_block {
  width: 100%;
  max-width: 230px;
}

.websites_hiddenAdded_block_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background: inherit;
  border: none;
  cursor: pointer;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s;
}

.active_btn {
  background: #212121;
  color: #eaeaea;
}

.choose_table_cols {
  margin-top: 20px;
  max-width: 230px;
}

.websites_table_wrap {
  display: inline-grid;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.slide {
  min-width: 200px !important;
}
.table_records_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.table_navigation_block {
  margin: 10px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: auto;
}

.table_pages_block {
  display: flex;
  gap: 2px;
  align-items: center;
}

.table_next_page_btn,
.table_prev_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #202020;
  cursor: pointer;
}

.table_current_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #2e2e2e;
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}

.choose_table_rows_block {
  margin-left: 10px;
}

.websites_filter_wrap {
  cursor: pointer;
  display: none;
  gap: 10px;
  margin-top: 25px;
  padding: 0 0 0 15px;
  align-items: center;
}

.websites_filter_btn {
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

///mobile adaptation
.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  overflow: auto;
}

.mobile_filter_block.filter_active {
  visibility: visible;
  opacity: 1;
}

///
@media screen and (max-width: 1280px) {
  .adding_website_block {
    display: grid;
    grid-template-columns: 1fr 230px 230px;
  }
  .websites_item_block {
    max-width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .adding_website_block {
    grid-template-columns: 1fr 200px 200px;
  }
}

@media screen and (max-width: 700px) {
  .adding_website_block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .breadcrumbs_block,
  .websites_filter_wrap {
    padding: 0;
  }
  .adding_website_block,
  .choose_table_cols,
  .table_records_text {
    display: none;
  }
  .website_downTable_filter_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .websites_hiddenAdded_block_item {
    font-size: 14px;
    width: fit-content;
    padding: 10px 15px;
  }
  .websites_filter_wrap {
    display: flex;
  }
  .websites_page {
    padding: 10px;
  }
  .table_navigation_block {
    margin: 10px 10px;
  }
}

.table_wrap {
  display: grid;
  margin-top: 6px;
  max-height: 470px;
  overflow-y: scroll;
  scrollbar-width: 6px;
  padding-right: 5px;
  overflow-x: hidden;
  scrollbar-color: var(--gray-436, #363636) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background: var(--gray-436, #363636);
    border-radius: 3px;
  }

  -ms-overflow-style: -ms-autohiding-scrollbar;
  @media (max-width: 650px) {
    margin-top: 14px;
  }
}

.swiper {
  width: 100%;
  margin-bottom: auto;
  // height: 550px;
  // overflow-y: scroll;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-rows: 1fr 1fr;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  // flex: 1 1 auto;
  height: 53px;
  img {
    cursor: pointer;
  }
  @media (max-width: 650px) {
    padding: 6px 14px;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  span,
  a {
    text-decoration: none;
    color: #7e7e7e;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #979797;
  }
}

.swiper_slide {
  &:first-child {
    .swiper_slide_body {
      border-radius: 8px 0 0 8px;
    }
    .swiper_slide_header {
      border-radius: 8px 0 0 0;
    }
  }
  &:last-child {
    .swiper_slide_body {
      border-radius: 0 8px 8px 0;
    }
    .swiper_slide_header {
      border-radius: 0 8px 0 0;
    }
  }
  width: max-content !important;
  min-width: max-content;
  @media (max-width: 1200px) {
    min-width: 200px;
  }
  flex: 1 0 auto;

  // @media screen and (min-width: 1280px) {
  //   &[data-id="partner_id"] {
  //     width: 100% !important;
  //     max-width: 100% !important;
  //     flex-shrink: 1;
  //   }
  // }
}

.add_subid_wrap {
  margin-top: 20px;

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.add_subid_body {
  display: flex;
  gap: 10px;
  align-items: end;
}

.subid_input_block,
.website_input_block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subid_input_title,
.website_input_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.subid_input_block,
.website_input_block {
  width: 100%;
  max-width: 405px;
}

.subid_input_block {
  @media screen and (max-width: 1280px) {
    max-width: 230px;
  }
}

.add_subid_btn {
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  width: 100%;
  max-width: 200px;
  padding: 9px 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Gold-solid, #ffe09d);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffb800;
    filter: blur(40px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    bottom: -20px;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.add_website_mob_btn,
.add_subid_mob_btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffe09d;
  background: #2e2315;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  height: 40px;
  width: 100%;
}

.mob_add_subid_block {
  border-bottom: none;
}

.mobile_filter_back_btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 28px);
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #3e3e3e;
  background: #252525;
}
