.commission_structure_wrap {
  padding: 10px 20px 20px 20px;
}

.fast_stats_block {
  margin-top: 20px;
}

.fast_stats_title {
  color: #f7f7ff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.choose_opts_wrap {
  max-width: 230px;
  margin-top: 10px;
}

.table_pages_wrap {
  display: flex;
}

.table_records_text {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.table_navigation_block {
  margin: 10px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_pages_block {
  display: flex;
  gap: 2px;
  align-items: center;
}

.table_next_page_btn,
.table_prev_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #202020;
  cursor: pointer;
}

.table_current_page_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #2e2e2e;
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}

.table_wrap {
  display: grid;
  margin-top: 20px;
}

.choose_table_rows_block {
  margin-left: 10px;
}

.swiper_slide {
  &:first-child {
    .swiper_slide_body {
      border-radius: 8px 0 0 8px;
    }
    .swiper_slide_header {
      border-radius: 8px 0 0 0;
    }
  }
  &:last-child {
    .swiper_slide_body {
      border-radius: 0 8px 8px 0;
    }
    .swiper_slide_header {
      border-radius: 0 8px 0 0;
    }
  }
  flex-shrink: 1 !important;
  width: 100% !important;
  &[data-id="currency"] {
    max-width: 126px !important;
  }
  &[data-id="commissionStructure"] {
    max-width: 230px !important;
  }
  &[data-id="commssGroupName"] {
    max-width: 320px !important;
  }
  &[data-id="startDate"] {
    max-width: 170px !important;
  }
  &[data-id="description"] {
    //   max-width: 100% !important;
  }
  &[data-id="endDate"] {
    max-width: 170px !important;
  }
}

.swiper {
  width: 100%;
}

.swiper_slide_body {
  background: #181818;
  height: 100%;
}

.swiper_slide_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background: #202020;
  img {
    cursor: pointer;
  }
  @media (max-width: 650px) {
    padding: 6px 14px;
  }
}

.swiper_slide_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper_slide_content {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.mobile_filter_block {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.filter_active {
  visibility: visible;
  opacity: 1;
}

.mob_filter_block {
  cursor: pointer;
  display: none;
  align-items: center;
  color: #979797;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1310px) {
  .swiper_slide {
    flex-shrink: 0 !important;
    &[data-id="description"] {
      max-width: 500px !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .table_records_text {
    display: none;
  }
  .commission_structure_wrap {
    padding: 10px;
  }
  .mob_filter_block {
    display: flex;
  }
  .table_navigation_block {
    margin: 10px 10px;
  }
}
